.div-1 {
  width: 320px;
  height: 497px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  padding: 16px;
}

.div-2 {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  background-color: #2c7dfa;
}

.img {
  margin: 64px;
}

.div-3 {
  font-size: 22px;
  margin: 24px 16px 40px 16px;

  font-family: outfit;
  text-align: center;
  font-weight: bold;
  font-weight: 700;
}

.span-1 {
  font-size: 15px;
  color: gray;
  font-family: outfit;
  margin: -25px 14px 20px 14px;
  font-weight: lighter;
  height: 57px;
  font-weight: 400;
  text-align: center;
}

.bdy {
  margin-left: 600px;
  margin-top: 110px;
  background-color: #d5e1ef;
}
